includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    
parameters:
    # Stub files for better type coverage
    stubFiles:
        - vendor/axepress/wp-graphql-stubs/wp-graphql-stubs.php
    
    # Bootstrap for constants
    bootstrapFiles:
        - tests/phpstan-constants.php
    
    level: 8
    paths:
        - src
    
    # Ignore patterns
    excludePaths:
        - vendor/
        - tests/
        - node_modules/
    
    # WordPress-specific ignores
    ignoreErrors:
        # Allow missing typehints from arrays (WordPress context)
        -
            identifier: missingType.iterableValue
        
        # WordPress functions that PHPStan doesn't understand
        - '#Function (wp_|get_|add_|do_|apply_|esc_|__)\w+ not found#'
        
        # GraphQL library specific - graphql-php classes not in development environment
        -
            message: '#Instantiated class GraphQL\\Error\\(Error|UserError) not found#'
            path: src/GraphQL/GraphQLSecurity.php
        -
            message: '#Throwing object of an unknown class GraphQL\\Error\\UserError#'
            path: src/GraphQL/GraphQLSecurity.php
        -
            message: '#PHPDoc tag @throws with type GraphQL\\Error\\UserError is not subtype of Throwable#'
            path: src/GraphQL/GraphQLSecurity.php
        -
            message: '#Instantiated class GraphQL\\Executor\\ExecutionResult not found#'
            path: src/GraphQL/GraphQLSecurity.php
        -
            message: '#Access to an undefined property.*GraphQL#'
            path: src/GraphQL/GraphQLSecurity.php
